[Unit]
Description=Land Trading App
After=network.target

[Service]
User=root
WorkingDirectory=/root/landtradingpermission
ExecStart=/usr/bin/python3 /root/landtradingpermission/run.py
Restart=always

[Install]
WantedBy=multi-user.target
